body {
    background: black;
    border-top-width: 0px;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    
   
}
.outside {
    background: white;
    color: whitesmoke;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    
}

.add-contact-h1 {
    text-align: center;
    padding: 30px;
    color: black;
    font-size: 40px;
}
.form-label{
    color: black;
}
input {
    width: 100%;
}
.btn {
    width: 100%;
}
.btn-cl {
    width: 15%;
    float: right;
    margin-right: 25px;
}
.cl-div {
    background: white;
    height: auto;
    }
.cl-h1{
    text-align: center;
    color: black;
    padding: 30px;
    }
.cl-img {
    padding: 15px;
    border-radius: 50%;
}
.cl-div1 {
    border: 1px solid grey;
    padding: 25px;
}